<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="mainWindow">
            <div class="titles">
                <span class="subTitle">当前类别:{{ activeClass }} </span>
                <span class="title">To Do List</span>
            </div>
            <div class="body">
                <div class="left">
                    <div class="buttons">
                        <div class="newOne" v-on:click="newOneClass">
                            新建<br/>类别
                        </div>
                        <div class="deleteOne" v-on:click="deleteButtonOn">
                            删除<br/>类别
                        </div>
                    </div>
                    <hr/>
                    <div class="classes">
                        <div class="singleClass" v-for="(cls of classes" v-on:click="chooseClass(cls.name)">
                            {{ cls.name }}
                            <span class="deleteButton" v-if="deleteOn" v-on:click.stop="deleteClass(cls.name)">
                                删除
                            </span>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="item" v-for="(thing, index) of things[activeClass]">
                        <div class="deli" v-on:click="deli(index)">
                            X
                        </div>
                        <div class="undo" v-on:click="undo(index)">
                            待做
                        </div>
                        <div class="done" v-on:click="done(index)">
                            已做
                        </div>
                        <div class="thing" >
                            <span class="subtitle">
                                <b>{{ thing.subtitle }}</b>
                            </span>
                            <span class="content">
                                {{ thing.content }}
                            </span>
                            <span class="ddl">
                                {{ thing.deadline }}
                            </span>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="newItemButton" v-if="newItemOn" v-on:click="newItem">
                    新 建 事 件
                </div>
                <div class="right">
                    <div class="urgentTitle">
                        紧急事件
                    </div>
                    <div class="urgentItems">
                        <!-- 循环输出紧急事件 -->
                        <!-- To Be Continued -->
                    </div>
                </div>
            </div>
        </div>
        <script src="./model.js"></script>
        <!-- 为什么放在最后才不报错？放前面就有错 -->
    </body>
</html>