.outer {
    border: 2px solid red;
    float:left;
    top:0;
    bottom:0;
    position:absolute;
}
/* .classes {
    max-height:100%;
    overflow-y:auto;
    border: 2px solid blue;
    width:30%;
    margin-right:2%;
    float:left;
} */

p
{
    font-size: 24px;
    font-family: "consolas", "courier new";
}

.mainWindow
{
    border-style: solid solid solid solid;
    border-color: black;
    margin: 0;
    padding: 0;
    height: 700px;
    font-family: consolas;
    background-color: burlywood;
}
.title
{
    border-width: 5px;
    border-bottom-style: double;
    border-color: black;
    margin: 0;
    padding: 0;
    height: 60px;
    font-size: 55px;
    text-align: center;
}
.body
{
    position: relative;
    height: 635px;
    font-size: 38px;
}
.body .left
{
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 635px;
}
.body .left .buttons
{
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
}
.body .left .buttons .newOne
{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(231, 231, 42);
    position: absolute;
    background-color: rgb(231, 199, 154);
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
}
.body .left .buttons .deleteOne
{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(202, 50, 50);
    position: absolute;
    background-color: rgb(231, 199, 154);
    top: 0;
    right: 0;
    width: 140px;
    height: 100px;
}
.body .left .classes
{
    background-color: rgb(240, 206, 161);
    height: 495px;
    overflow-y: auto;
}
.body .left .classes .singleClass
{
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color:rgb(235, 197, 144);
    overflow-x: auto;
    /* rgb(235, 197, 144) Up   */
    /* rgb(223, 191, 147) Down */
}
.body .center
{
    margin: 0 300px 0 300px;
    height: 635px;
    width: 915px;
    background-color: rgb(228,196,155);
    overflow-y: auto;
}
.body .center .thing
{
    margin: 15px 10px 15px 10px;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(209,156,87);
    height: 45px;
    width: 875px;
    background-color: rgb(164,231,168);
    /* rgb(222,141,135) Undone */
    /* rgb(164,231,168) Done   */
    overflow-x: auto;
}
.body .right
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 635px;
}
.body .urgentTitle
{
    border-style: groove;
    border-width: 5px;
    border-color: chocolate;
    background-color: coral;
    top: 0;
    left: 0;
    width: 290px;
    height: 50px;
}