p
{
    font-size: 24px;
    font-family: "consolas", "courier new";
}

.mainWindow
{
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 0;
    height: 700px;
    font-family: consolas;
    background-color: burlywood;
}
.titles
{
    border-width: 5px;
    border-bottom-style: double;
    border-color: black;
    height: 60px;
    font-size: 55px;
    text-align: center;
}
.titles .subTitle
{
    border-right: dashed;
    border-width: 1px;
    border-color: black;
    float: left;
    height: 60px;
    width: 300px;
    overflow-x: auto;
    font-size: 30px;
    text-align: left;
    white-space: nowrap;
}
.titles .title
{
    text-align: center;
}
.body
{
    position: relative;
    height: 635px;
    font-size: 38px;
    text-align: center;
}
.body .left
{
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 635px;
}
.body .left .buttons
{
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
}
.body .left .buttons .newOne
{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(231, 231, 42);
    position: absolute;
    background-color: rgb(231, 199, 154);
    top: 0;
    left: 0;
    width: 140px;
    height: 100px;
}
.body .left .buttons .deleteOne
{
    border-style: outset;
    border-width: 5px;
    border-color: rgb(202, 50, 50);
    position: absolute;
    background-color: rgb(231, 199, 154);
    top: 0;
    right: 0;
    width: 140px;
    height: 100px;
}
.body .left .classes
{
    background-color: rgb(240, 206, 161);
    height: 495px;
    overflow-y: auto;
}
.body .left .classes .singleClass
{
    margin: 5px;
    width: 286px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color:rgb(235, 197, 144);
    text-align: left;
    overflow-x: auto;
    /* rgb(235, 197, 144) Up   */
    /* rgb(223, 191, 147) Down */
}
.body .left .classes .singleClass .deleteButton
{
    float: right;
    font-size:17px;
    padding: 5px;
    right: 0;
    border-left-style: dashed;
    border-width: 2px;
    border-color: black;
    writing-mode: vertical-lr;
    background-color:red;
}
.body .center
{
    margin: 0 300px 0 300px;
    border-bottom-style: dashed;
    border-width: 2px;
    border-color: black;
    height: 570px;
    width: 895px;
    background-color: rgb(228,196,155);
    overflow-y: auto;
}
.body .center .thing
{
    margin: 15px 10px 15px 10px;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(209,156,87);
    height: 62px;
    width: 850px;
    background-color: rgb(164,231,168);
    /* rgb(222,141,135) Undone */
    /* rgb(164,231,168) Done   */
    overflow-x: auto;
}
.body .newItemButton
{
    margin: 5px 10px 20px 310px;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(209,156,87);
    height: 40px;
    width: 850px;
    font-size: 30px;
    background-color: yellow;
}
.body .center .thing .subtitle
{
    float: left;
    width: 200px;
    overflow-x: auto;
}
.body .center .thing .content
{
    float: left;
    border-left-style: dashed;
    border-width: 2px;
    border-color: black;
    padding-left: 10px;
    height: 62px;
    text-align: left;
}
.body .center .thing .ddl
{
    float: right;
    border-left-style: dashed;
    border-width: 2px;
    border-color: black;
    width: 250px;
    height: 62px;
}
.body .right
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 635px;
}
.body .urgentTitle
{
    border-style: groove;
    border-width: 5px;
    border-color: chocolate;
    background-color: coral;
    top: 0;
    left: 0;
    width: 290px;
    height: 50px;
}